

.container{
    height: 100vh;
    display:grid;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 20%;
    gap: 2%;
     }

   .box1{
    background-color: brown;
   }  
   


.box2{
    background-color: rgb(218, 17, 171);
}

.box3{
    background-color: rgb(238, 227, 13);
}

.box4{
    background-color: rgb(25, 122, 200);
}

.box5{
    background-color: rgb(218, 37, 17);
}

.box6{
    background-color: rgb(51, 192, 15);
}
.box7{
    background-color: rgb(74, 2, 162);
}

.box8{
    background-color: rgb(8, 254, 225);
}

.box9{
    background-color: rgb(240, 76, 11);
}

.box10{
    background-color: rgb(7, 224, 108);
}

.box11{
    background-color: rgb(156, 118, 69);
}

.box12{
    background-color: rgb(15, 6, 3);
}